@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --font-body: "Source Sans 3", system-ui, sans-serif;
  --font-heading: "Space Grotesk", system-ui, sans-serif;
}

body {
  font-family: var(--font-body);
}
